<input [(ngModel)]="salary" type="number"/>
<button (click)="calculateInflation()">Calculate Inflation</button>

<table>
  <tr>
    <th>Year</th>
    <th>Inflation percentage</th>
    <th>Salary strength based on inflation</th>
    <th>Salary should be based on inflation</th>
  </tr>
  <tr *ngFor="let year of inflationRate">
    <td>{{year?.year}}</td>
    <td>{{year?.percentage}}</td>
    <td>{{year?.salaryBasedOnInflation | number: '1.1-2'}}</td>
    <td>{{year?.salaryToHave | number: '1.1-2'}}</td>
  </tr>
</table>
<router-outlet></router-outlet>
